.footer {
    background-color: $grey;
    height: 40rem;;

    &__nav {
        display: flex;
        justify-content: center;
        padding-top: 4rem;

        @include respond (tab-port) {
            font-size: 1.2rem;
        }

        @include respond (phone) {
            font-size: 1rem;
        }

        &--nav {
            display: flex;
        }

        &--link {
            margin-left: 2rem;
            color: transparentize($color: $white, $amount: 0.4);

            @include respond (phone) {
                margin-left: 1.2rem;
            }
        }
    }

    &__copyright {
        color: transparentize($color: $white, $amount: 0.4);
        text-align: center;
        margin-top: 7rem;
    }

    &__icons {
        text-align: center;
        margin-top: 7rem;
    }
}