.welcome {
    height: 60rem;
    position: relative;
    overflow: hidden;
    box-shadow: 1px -10px 40px transparentize($color: $black, $amount: .1);
    font-size: 1.6rem;

    &__image {
        background-image: url('/dist/images/welcomeImg.svg');
        background-repeat: no-repeat;
        background-position: left 0;
        height: 76rem;
        width: 96rem;
        position: absolute;
        right: 50%;
        margin-right: -30rem;
        top: 25rem;
    }


    &__text {
        position: absolute;
        left: 50%;
        margin-left: -5rem;
        top: 13.9rem;
        z-index: 100;

        &--txt {
            margin-top: 3.9rem;
        }
    }

    &__divLine {
        margin-top: 1.5rem;
    }

}

.arrow {
    width: 7rem;
    height: 7rem;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    top: 116rem;
    box-shadow: 10px 10px 25px -15px transparentize($color: $black, $amount: .1)
}

.test {
    background-color: cadetblue;
}