*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: 1.7rem;
    line-height: 1.7;
    letter-spacing: .7px;
    font-family: $primaryFont;
    color: $grey;
}

.container {
    width: 100%;
    max-width: 160rem;
    margin: auto;
    padding: 0 3rem;
}

.heading {
    font-family: $primaryHeading;
    font-size: 4rem;
    color: $black;
}

a,
a:active,
a:visited {
    text-decoration: none;
}

.divLine {
    width: 40rem;
    border: .5px solid $lightGrey;
    margin: auto;
}