*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include respond (tab-land) {
        font-size: 56.25%;
    }

    @include respond (tab-port) {
        font-size: 50%;
    }

    @include respond (big-desktop) {
        font-size: 75%;
    }
}

body {
    font-size: 1.7rem;
    line-height: 1.7;
    letter-spacing: .7px;
    font-family: $primaryFont;
    color: $grey;
    box-sizing: border-box;
    text-size-adjust: 100%;
}

.container {
    width: 100%;
    max-width: 160rem;
    margin: auto;
    padding: 0 3rem;
}

.heading {
    font-family: $primaryHeading;
    font-size: 4rem;
    color: $black;
    letter-spacing: .7rem;
}

h3 {
    font-family: $primaryHeading;

}

a,
a:active,
a:visited {
    text-decoration: none;
}

.divLine {
    width: 40rem;
    border: .5px solid $lightGrey;
    margin: auto;
}
